* {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: hsl(0, 0%, 100%);
  --bg: hsl(207, 44%, 40%);
  --bg-container: hsl(0, 0%, 80%);
  --bg-body: hsl(0, 0%, 60%);
  /* button header */
  --btn-header-text: hsl(207, 44%, 40%);
  --btn-header-bg: hsl(0, 0%, 100%);
  --btn-header-hover: hsl(0, 0%, 0%);
  /* buttons main */
  --btn-text: hsl(0, 0%, 0%);
  --btn-bg: hsl(0, 0%, 100%);
  --btn-hover: hsl(207, 44%, 20%);
}

.dark {
  --text: hsl(0, 0%, 90%);
  --bg: hsl(210, 40%, 10%);
  --bg-container: hsl(218, 32%, 15%);
  --bg-body: hsl(0, 0%, 15%);

  /* button header */
  --btn-header-text: white;
  --btn-header-bg: hsl(207, 44%, 40%);
  --btn-header-hover: hsl(0, 0%, 100%);
  /*  buttons main */
  --btn-text: hsl(0, 0%, 100%);
  --btn-bg: hsl(218, 32%, 35%);
  --btn-hover: hsl(0, 0%, 100%);
}

/* button in header */
.btn-theme {
  align-self: end;
  justify-self: end;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  border: 1px solid transparent;
  border-radius: 16px;
  color: var(--btn-header-text);
  background-color: var(--btn-header-bg);
  transition:
    color 0.3s ease,
    border-color 0.5s ease;
}

.btn-theme:hover {
  cursor: pointer;

  color: var(--btn-header-hover);
  border-color: var(--btn-header-hover);
}

.fa-moon,
.fa-sun {
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.btn-theme .fa-sun {
  display: none;
}

.dark .btn-theme .fa-sun {
  display: inline-block;
}

.dark .btn-theme .fa-moon {
  display: none;
}

/* game control buttons */
.btn {
  min-width: 110px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid transparent;
  border-radius: 16px;
  color: var(--btn-text);
  background-color: var(--btn-bg);
  transition:
    color 0.3s ease,
    border-color 0.5s ease;
}

.btn:hover {
  cursor: pointer;
  color: var(--btn-hover);
  border-color: var(--btn-hover);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 600px;
  width: 100%;

  height: 100vh;
  max-height: 1000px;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--bg-body);
}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto;
  padding: 1rem 1rem 2rem 1rem;
  gap: 0rem;
  width: 100%;
  height: 100%;
  color: var(--text);
  background-color: var(--bg);
}

.header-h1 {
  grid-row: 2 / 3;
}

.fa-shield-dog {
  transform: translateY(2px);
}

.header-span-paragraph-sign {
  display: inline-block;
  transform: translateY(-2px);
}

.header-span-text {
  font-size: 1.6rem;
}

main {
  position: relative;
}

.container-start {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;

  z-index: 10;
  overflow-y: auto;
  color: var(--text);
  background-color: var(--bg-container);
}

.card-start-introduction {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.question-count,
.category-count {
  font-weight: bold;
}

.card-start-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;

  border-radius: 4px;
  background-color: var(--bg);
}

.start-options-question-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.select-question-count {
  width: 90%;
  padding: 0.2rem;
  border-radius: 4px;
}

.start-options-question-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding-bottom: 0.5rem;
}

.select-question-category {
  width: 90%;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.container-end-screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;

  height: 100%;
  width: 100%;
  z-index: 10;
  color: var(--text);
  background-color: var(--bg-container);
}

.card-end-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.end-screen-text {
  grid-column: 1 / 4;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.end-screen-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.end-screen-total-values {
  display: flex;
  gap: 0.1rem;
  font-size: 1.2rem;
}

.end-screen-success,
.end-screen-wrong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.end-screen-percentage {
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.end-screen-stats-description {
  opacity: 0.8;
  margin-right: 0.2rem;
}

.card-end-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-game-content {
  display: grid;
  grid-template-rows:
    auto auto minmax(100px, auto) minmax(150px, auto)
    auto;
  gap: 1rem;

  height: 100%;
  width: 100%;
  z-index: 0;

  padding: 1rem 2rem;
  background-color: var(--bg-container);
}

.card-menu-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100;
}

.card-stats {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;

  width: 100%;
  height: 100%;

  border-radius: 4px;
  color: var(--text);
}

.para-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: var(--bg);
}

.stats-description {
  font-size: 0.7rem;
  opacity: 0.8;
}

.stats-value {
  font-weight: 500;
}

.progress-bar {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  border-radius: 16px;
}

.progress-bar-row {
  flex: 1;

  display: flex;
}

.progress-bar-column {
  flex: 1;

  height: 7px;
  border-right: 1px solid grey;
  background-color: white;
}

.progress-bar-column:first-child {
  border-radius: 4px 0px 0px 4px;
}

.progress-bar-column:last-child {
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.card-question {
  display: grid;
  grid-template-rows: auto minmax(50px, 1fr) auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-weight: 700;
  border-radius: 4px;
  color: var(--text);
  background-color: var(--bg);
}

.question-header-category {
  justify-self: start;
  font-size: 0.8rem;
}

.question-para {
  align-self: center;
  font-size: 1rem;
}

.question-id {
  justify-self: end;
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.card-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 4px;
  color: var(--text);
  background-color: var(--bg);
}

.para-answer {
  text-align: center;
}

.card-game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

footer {
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: var(--text);
  background-color: var(--bg);
}

.footer-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.footer-span-icon {
  margin-right: 0.4rem;
}

/* special classes */
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.very-good {
  color: hsl(123, 100%, 50%);
}

.good {
  color: hsl(128, 97%, 40%);
}

.mediocre {
  color: yellow;
}

.bad {
  color: red;
}
