* {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-theme: white;
  --bg-theme: hsl(207, 44%, 40%);
  --bg-container: hsl(0, 0%, 80%);

  --col-btn: black;
  --bg-btn: white;
  --col-outline-btn: transparent;
  --col-btn-hover: hsl(180, 1%, 71%);
  /*  */
  --col-header-btn: hsl(207, 44%, 40%);
  --bg-header-btn: white;
  --col-outline-header-btn: transparent;
  --col-header-btn-hover: black;
  --btn-transition-time: 0.3s;
}

.dark {
  --col-theme: white;
  --bg-theme: black;
  --bg-container: hsl(221, 90%, 12%);

  --col-btn: white;
  --bg-btn: black;
  --col-outline-btn: white;
  --col-btn-hover: hsl(0, 0%, 79%);

  --col-header-btn: hsl(0, 0%, 100%);
  --bg-header-btn: black;
  --col-outline-header-btn: white;
  --col-header-btn-hover: hsl(0, 0%, 74%);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 600px;
  width: 100%;

  height: 100vh;
  max-height: 1000px;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto;
  padding: 1rem 1rem 2rem 1rem;
  gap: 0rem;
  width: 100%;
  height: 100%;
  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.header-h1 {
  grid-row: 2 / 3;
}

.header-span-icon {
}

.fa-shield-dog {
  transform: translateY(2px);
}

.header-span-paragraph-sign {
  display: inline-block;
  transform: translateY(-2px);
}

.header-span-text {
  font-size: 1.6rem;
}

.btn-theme {
  align-self: end;
  justify-self: end;
  padding: 0.1rem 0.5rem;
  border: none;
  color: var(--col-header-btn);
  background-color: var(--bg-header-btn);
  outline: 1px solid var(--col-outline-header-btn);
  transition: all 1s ease;
}

.btn-icon {
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.btn-theme:hover {
  cursor: pointer;
  outline-color: var(--col-header-btn-hover);
}

main {
  position: relative;
}

.btn-start,
.btn-quit,
.btn-main {
  min-width: 100px;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  color: var(--col-btn);
  background-color: var(--bg-btn);
  outline: 1px solid var(--col-outline-btn);
  transition: outline var(--btn-transition-time) ease;
}

.btn-start:hover,
.btn-quit:hover,
.btn-main:hover {
  cursor: pointer;
  outline: 1px solid var(--col-btn-hover);
}

.container-start-screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;

  font-size: 1.1rem;

  z-index: 10;
  overflow-y: auto;
  background-color: var(--bg-container);
}

.container-start-screen-introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: white;
  background-color: var(--bg-theme);
}

.container-start-screen-introduction span {
  font-weight: 700;
}

.container-start-screen-gameplay {
  padding: 1rem;
  color: white;
  background-color: var(--bg-theme);
}

.list-game-play {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.container-start-screen-gameplay span {
  font-weight: bold;
}

.container-start-screen-control {
  /* padding: 1rem; */
}

.container-end-screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0rem 2rem;

  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: var(--bg-container);
}

.container-end-screen-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.end-screen-text {
  grid-column: 1 / 4;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.end-screen-para-stats {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;

  color: white;
  background-color: var(--bg-theme);
}

.end-screen-stats-description {
  opacity: 0.8;
  margin-right: 0.2rem;
}

.container-game-content {
  display: grid;
  grid-template-rows:
    auto auto minmax(100px, auto) minmax(150px, auto)
    auto;
  gap: 1rem;

  height: 100%;
  width: 100%;
  z-index: 0;

  padding: 1rem 2rem;
  background-color: var(--bg-container);
}

.container-menu-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.container-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.para-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.stats-description {
  opacity: 0.8;
}

.stats-value {
  font-weight: 500;
}

.container-question {
  display: grid;
  grid-template-rows: auto minmax(50px, 1fr) auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-weight: 700;
  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.question-header-category {
  justify-self: start;
  font-size: 0.8rem;
}

.question-para {
  align-self: center;
  font-size: 1rem;
}

.question-id {
  justify-self: end;
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.container-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.para-answer {
  text-align: center;
}

.container-game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.btn-show-answer,
.btn-correct,
.btn-wrong,
.btn-result {
  padding: 0.5rem;
  min-width: 110px;
  border: none;
  font-weight: bold;
  outline: 1px solid var(--col-outline-btn);
  color: var(--col-btn);
  background-color: var(--bg-btn);
  transition: outline var(--btn-transition-time) ease;
}

.btn-show-answer:hover,
.btn-correct:hover,
.btn-wrong:hover,
.btn-result:hover {
  cursor: pointer;
  outline: 1px solid var(--col-btn-hover);
}

footer {
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: var(--col-theme);
  background-color: var(--bg-theme);
}

.footer-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.footer-span-icon {
  margin-right: 0.4rem;
}

/* special classes */
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}
